__pycache__/fiber_simulation.cpython-310.pyc
utils/__pycache__/networkcallback.cpython-310.pyc
utils/forces/__pycache__/pointforce.cpython-310.pyc
utils/forces/__pycache__/pointforce.PointForce.compute_end_point_forces-55.py310.1.nbc
utils/forces/__pycache__/pointforce.PointForce.compute_end_point_forces-55.py310.nbi
utils/forces/__pycache__/pointforce.PointForceSinsusoidal.compute_end_point_forces-141.py310.1.nbc
utils/forces/__pycache__/pointforce.PointForceSinsusoidal.compute_end_point_forces-141.py310.nbi
utils/forces/__pycache__/pointforce.PointForceSpline.compute_end_point_forces-231.py310.1.nbc
utils/forces/__pycache__/pointforce.PointForceSpline.compute_end_point_forces-231.py310.2.nbc
utils/forces/__pycache__/pointforce.PointForceSpline.compute_end_point_forces-231.py310.nbi
utils/render/__pycache__/post_processing.cpython-310.pyc
FiberSim_1rods_5sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02constant_k1e+09_kt1e+09_fps250.mp4
FiberSim_1rods_5sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02sinusoidal_k1e+09_kt1e+09_fps250.mp4
FiberSim_1rods_5sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02spline_k1e+09_kt1e+09_fps250.mp4
FiberSim_4rods_10sec_L1.00e+03_R2.50e+01_dx20_YM2.30e+08_Damping10_TF1e+04_PF-2e+05_k1e+09_kt1e+09_fps250.mp4
fiber_simulation_backup.py
__pycache__/unit_scaling.cpython-310.pyc
config_mm_g_s.json
config_mm_mg_ms.json
utils/__pycache__/unit_scaling.cpython-310.pyc
ARCFiberSim_1rods_5sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02sinusoidal_k1e+09_kt1e+09_fps250.mp4
ARCFiberSim_1rods_5000sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+03_Density1.00e+00_Damping10_TF1e+01_PF-5e-01sinusoidal_k1e+09_kt1e+09_fps250.pickle
FiberSim_1rods_6sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02spline_k1e+09_kt1e+09_fps250.csv
FiberSim_1rods_6sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02spline_k1e+09_kt1e+09_fps250.mp4
FiberSim_1rods_6sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+06_Density1.00e-03_Damping10_TF1e+04_PF-5e+02spline_k1e+09_kt1e+09_fps250.pickle
FiberSim_1rods_5000sec_L5.00e+02_R2.25e-01_dx10_YM5.00e+03_Density1.00e+00_Damping10_TF1e+01_PF-5e-01spline_k1e+09_kt1e+09_fps250.pickle
asmeconf.zip
ARCFiberSim_1rods_5sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-04Nspline_k1e+09_kt1e+09_fps250_stepskip800_mm_g_s.mp4
diffconstraints_hardcodedvibs_mm_g_s_FiberSim_8rods_15sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
diffconstraints_mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
diffconstraints_mm_g_s_FiberSim_8rods_15sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
diffconstraints_randomvibs_mm_g_s_FiberSim_8rods_15sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
EFRI_diffconstraints_mm_g_s_FiberSim_4rods_15sec_L1.00e+00m_R2.00e-03m_dx20mm_YM2.30e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-01Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
fiber_config_SMASIS.py
fiber_simulation_SMASIS.py
FiberSim_1rods_5000sec_L5.00e+02_R2.25e-01_dx20_YM5.00e+05_Density1.00e+00_Damping10_TF1e+01_PF-5e+02spline_k1e+09_kt1e+09_fps2500_stepskip8000.mp4
mm_g_s_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip800.mp4
mm_g_s_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800.npz
mm_g_s_FiberSim_1rods_5sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip800.mp4
mm_g_s_FiberSim_1rods_5sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-04Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
mm_g_s_FiberSim_4rods_15sec_L1.00e+00m_R2.00e-03m_dx20mm_YM2.30e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-01Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
mm_mg_ms_FiberSim_1rods_5sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps2500_stepskip8000.mp4
mm_mg_ms_FiberSim_1rods_5sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-04Nspline_k1e+09_kt1e+09_fps2500_stepskip8000.mp4
npz_trial_mm_g_s_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800.mp4
SMASIS_sims/2by2/leg_and_mem_linearreg.png
SMASIS_sims/2by2/leg_and_mem_ridge_alpha01.png
SMASIS_sims/2by2/leg_and_mem_ridge_alpha1.png
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_0.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_1.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_2.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_3.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_4.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_5.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_6.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_7.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_8.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_9.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_10.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_11.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_12.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_13.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_14.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_15.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_16.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_17.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_18.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_19.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_20.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_21.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_22.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_23.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_24.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_25.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_26.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_27.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_28.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_29.pickle
SMASIS_sims/2by2/mm_g_s_FiberSim_4rods_15sec_L5.00e-01m_R1.00e-03m_dx20mm_YM1.00e+08Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-2e-02Nspline_k1e+09_kt1e+09_fps250_stepskip800_30.pickle
visualization.ipynb
SMASIS - Physical Reservoir Computing using Compliant Fiber Networks_v2.pptx
SMASIS - Physical Reservoir Computing using Compliant Fiber Networks_v3.pptx
SMASIS - Physical Reservoir Computing using Compliant Fiber Networks.pptx
Share_fiber_network.zip
Sage Figures_251119_135819.pdf
random_spline_trialdiffconstraints_mm_g_s_FiberSim_4rods_10sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800_0.npz
random_spline_trialdiffconstraints_mm_g_s_FiberSim_4rods_10sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800_0.mp4
random_spline_memory.png
random_spline_legendre.png
random_spline_4rods.npz
polygon_sketches.png
networks.png
MI_prob_notes.pdf
FiberNetworkUpdates_copy.pptx
Bokun_Change_Property.py
utils/boundary_conditions/__pycache__/constraints.cpython-310.pyc
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_rotational_rates-215.py310.1.nbc
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_rotational_rates-215.py310.nbi
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_translational_rates-185.py310.1.nbc
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_translational_rates-185.py310.nbi
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_translational_values-149.py310.1.nbc
utils/boundary_conditions/__pycache__/constraints.DisplacementBC.nb_constrain_translational_values-149.py310.nbi
utils/forces/__pycache__/pointforce.PointForceVaryingSine.compute_end_point_forces-322.py310.1.nbc
utils/forces/__pycache__/pointforce.PointForceVaryingSine.compute_end_point_forces-322.py310.nbi
