# main
*.pyc
*.nbc
*.nbi
*.zip
*.pptx
*.pdf
*.blend
*.blend1
*.jpg
visualization.ipynb
Simulations/SMASIS/*
!Simulation/SMASIS/*.ipynb
Experiments/Magnetic/magnetic_motor_backup.py
Experiments/Magnetic/magnetic_motor_control_1.py
Experiments/Magnetic/magnetic_real_time_plotting.py
Experiments/Magnetic/magnetic_sensing_pickups_1.py
Experiments/Magnetic/magnetic_trial_plots.ipynb
Experiments/Magnetic/run_magnetic_experiment.py
Simulatoins/SAGE/*
!Simulations/SAGE/*.ipynb
!Simulations/SAGE/*.py
!Simulations/SAGE/**/*.ipynb
!Simulations/SAGE/**/*.py
!Simulations/SAGE/**/**/*.ipynb
!Simulations/SAGE/**/**/*.py
Experiments/SAGE/4by4_bokun/*
Experiments/SAGE/6by6_bokun/*
Experiments/SAGE/4by4--Advait/*
Experiments/SAGE/6by6--Advait/*
Experiments/SAGE/*.csv
Experiments/SAGE/4by4/*.npz
Experiments/SAGE/6by6/*.npz
Experiments/SAGE/4by4/Videos/*.mp4
Experiments/SAGE/6by6/Videos/*.mp4
# Archive
Simulations/legendre_sum_eval_test0to2.png
Simulations/memory_sum_eval_test0to2.png
Simulations/Tests/*.png
Simulations/Tests/*.mat
Simulations/Tests/*.mp4
Simulations/Tests/*.npz
Simulations/OldSimFiles/old_spider_web/SpiderWebNoGym.py
Simulations/OldSimFiles/old_spider_web/SpiderWebNoGymBoundary.py
Simulations/OldSimFiles/old_spider_web/SpiderWebNoGymRadial.py
Simulations/Tests/freq_detection_test4.ipynb
Simulations/Tests/Test4Results/FFT_ip.png
Simulations/Tests/Test4Results/FFT_op.png
Simulations/Tests/Test4Results/fft_output_section_1.png
Simulations/Tests/Test4Results/fft_output_section_2.png
Simulations/Tests/Test4Results/fft_output_section_3.png
Simulations/Tests/Test4Results/fft_output_section_4.png
Simulations/Tests/Test4Results/fft_output_section_5.png
Simulations/Tests/Test4Results/fft_output_section_6.png
Simulations/Tests/Test4Results/fft_output_section_7.png
Simulations/Tests/Test4Results/fft_output_section_8.png
Simulations/Tests/Test4Results/fft_output_section_9.png
Simulations/Tests/Test4Results/fft_output_section_10.png
Simulations/Tests/Test4Results/test4_fft_mag_op.mat
Simulations/Tests/Test4Results/test4_fft_phase_op.mat
Simulations/Tests/Test4Results/mag/fft_plots_1Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_2Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_3Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_4Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_5Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_6Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_7Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_8Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_9Hz_mag.png
Simulations/Tests/Test4Results/mag/fft_plots_10Hz_mag.png
Simulations/Tests/Test4Results/mag_db/fft_plots_1Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_2Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_3Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_4Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_5Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_6Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_7Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_8Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_9Hz_mag_db.png
Simulations/Tests/Test4Results/mag_db/fft_plots_10Hz_mag_db.png
Simulations/Tests/Test4Results/phase/fft_plots_1Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_2Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_3Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_4Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_5Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_6Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_7Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_8Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_9Hz_phase.png
Simulations/Tests/Test4Results/phase/fft_plots_10Hz_phase.png
Simulations/Tests 0 to 2 10 sec/legendre_sum_eval_test0to2.png
Simulations/Tests 0 to 2 10 sec/memory_sum_eval_test0to2.png
Simulations/Tests 0 to 2 10 sec/test0_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.mp4
Simulations/Tests 0 to 2 10 sec/test0_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.npz
Simulations/Tests 0 to 2 10 sec/test0_legendre_eval.png
Simulations/Tests 0 to 2 10 sec/test0_memory_eval.png
Simulations/Tests 0 to 2 10 sec/test0.npz
Simulations/Tests 0 to 2 10 sec/test1_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.mp4
Simulations/Tests 0 to 2 10 sec/test1_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.npz
Simulations/Tests 0 to 2 10 sec/test1_legendre_eval.png
Simulations/Tests 0 to 2 10 sec/test1_memory_eval.png
Simulations/Tests 0 to 2 10 sec/test1.npz
Simulations/Tests 0 to 2 10 sec/test2_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.mp4
Simulations/Tests 0 to 2 10 sec/test2_6by6rods_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+08Pa_PF-2e-01Nspline_fps250_stepskip800.npz
Simulations/Tests 0 to 2 10 sec/test2_legendre_eval.png
Simulations/Tests 0 to 2 10 sec/test2_memory_eval.png
Simulations/Tests 0 to 2 10 sec/test2.npz
Simulations/sine_random_omega/varying_sine_4rods.npz
Simulations/sine_random_omega/varying_sine_data_issuediffconstraints_mm_g_s_FiberSim_4rods_0sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nvarying_sine_k1e+09_kt1e+09_fps250_stepskip800_0.npz
Simulations/sine_random_omega/varying_sine_data_issuediffconstraints_mm_g_s_FiberSim_4rods_1sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nvarying_sine_k1e+09_kt1e+09_fps250_stepskip800_0.npz
Simulations/sine_random_omega/varying_sine_legendre.png
Simulations/sine_random_omega/varying_sine_memory.png
Simulations/sine_random_omega/varying_sine_trialdiffconstraints_mm_g_s_FiberSim_4rods_1sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800_0.mp4
Simulations/sine_random_omega/varying_sine_trialdiffconstraints_mm_g_s_FiberSim_4rods_1sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nspline_k1e+09_kt1e+09_fps250_stepskip800_0.npz
Simulations/sine_random_omega/varying_sine_trialdiffconstraints_mm_g_s_FiberSim_4rods_10sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nvarying_sine_k1e+09_kt1e+09_fps250_stepskip800_0.mp4
Simulations/sine_random_omega/varying_sine_trialdiffconstraints_mm_g_s_FiberSim_4rods_10sec_L5.00e-01m_R1.00e-03m_dx10mm_YM1.00e+07Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nvarying_sine_k1e+09_kt1e+09_fps250_stepskip800_0.npz
# Polygon
Simulations/Polygon/*.mp4
Simulations/Polygon/*.npz
# SimToReal
Simulations/unit_scaling_comparisons/comparison of unit scaling.ipynb
Simulations/unit_scaling_comparisons/mm_g_s_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip800.npz
Simulations/unit_scaling_comparisons/mm_g_s_FiberSim_1rods_2sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping5_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip800.mp4
Simulations/unit_scaling_comparisons/mm_g_s_FiberSim_1rods_2sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping5_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip800.npz
Simulations/unit_scaling_comparisons/mm_mg_ms_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip80000.mp4
Simulations/unit_scaling_comparisons/mm_mg_ms_FiberSim_1rods_1sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping10_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip80000.npz
Simulations/unit_scaling_comparisons/mm_mg_ms_FiberSim_1rods_2sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping5_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip80000.mp4
Simulations/unit_scaling_comparisons/mm_mg_ms_FiberSim_1rods_2sec_L5.00e-01m_R2.25e-04m_dx20mm_YM5.00e+06Pa_Density1.00e+03kgmm-3_Damping5_TF1e-02N_PF-5e-03Nconstant_k1e+09_kt1e+09_fps250_stepskip80000.npz